# .env.example
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/histoire_interactive_db?schema=public"
JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me-too"
JWT_ACCESS_EXPIRES_IN="15m"
