# Dépendances Node.js
node_modules/
npm-debug.log

# Fichiers d'environnement
.env
.env.local

# Dossiers de données Docker
pgdata/
db-data/
postgres-data/

# Fichiers générés par Prisma
/generated/prisma

# Logs et fichiers systèmes divers
*.log
.DS_Store
Thumbs.db

# Dossiers de build (pour plus tard)
dist/
build/
coverage

# Idea
.idea

